.form {
  padding-top: 43px;
  padding-bottom: 34px;
  padding-left: 49px;
  padding-right: 49px;
  width: 368px;

  background-color: $yellow;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.form__title {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  color: $white;
}

.form__text {
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 19.5px;
  color: $yellow-light;
  text-align: center;
}

.form__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 19px;
  color: $yellow;

  border: 1px solid $yellow;
  background-color: $white;
  border-radius: 5px;

  &:last-child {
    margin-bottom: 30px;
  }

  &:hover, &:focus {
    color: $yellow-dark;
    border-color: $yellow-dark;
    &::-webkit-input-placeholder {
      color: $yellow-dark;
    }
    &::-moz-placeholder {
      color: $yellow-dark;
    }
    &:-ms-input-placeholder {
      color: $yellow-dark;
    }
    &:-moz-placeholder {
      color: $yellow-dark;
    }
  }

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $yellow;
  }
  &::-moz-placeholder {
    color: $yellow;
  }
  &:-ms-input-placeholder {
    color: $yellow;
  }
  &:-moz-placeholder {
    color: $yellow;
  }
}

.form__btn {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: 15px;

  color: $brown;
  font-size: 15px;
  font-weight: 600;
  text-align: center;

  background: linear-gradient(180deg, #ffffff 0%, #ffe470 100%);
  border: 1px solid #c9b76b;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;

  &:hover,
  &:active {
    background: linear-gradient(180deg, #fff9e2 0%, #ffd93b 100%);
    box-shadow: none;
  }
}

.form__policy-text {
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: $yellow-dark;
}

.form__policy {
  background-color: transparent;
  border: none;
  padding: 0;
  color: $white;
  text-decoration: underline;
}