.modal {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 99999;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  &:hover {
    &::after {
      color: black;
      background-color: rgba(194, 194, 194, 0.6);
    }
  }
  &::after {
    content: '×';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: rgb(136, 136, 136);
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 2;
    font: 300 22px / 30px 'HelveticaNeueCyr', sans-serif;
    border-radius: 50%;
    border-width: 0px;
    transition: background-color 0.25s ease 0s;
  }
}

.modal__center-wrapper {
  height: 100%;
  text-align: center;
  & > * {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
}
